#cat_img {
    border-left: 5px solid;
    background-color: rgb(255, 235, 230);
    box-shadow: 1px 1px 5px;
    
}

.blog_title {
    text-align: center;
    text-shadow: 1px 1px 5px rgb(151, 151, 151);
    font-size: 5rem;
    margin: 10px;
    font-family:cursive;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-top: 5px solid;
}

  table, th, td {
    border: 1px solid;
}

#img_div {
    display: flex;
    justify-content: center;
}

td {
    text-align: center;
}

th, td {
    padding: 15px;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: hotpink;
}

a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

p {
    border-left: 3px solid;
    padding: 20px;
    font-size: 2rem;
    background-color: hwb(0 100% 15%);
}